asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
Django==5.1.4
django-autoslug==1.9.9
django-autoslug-field==0.2.3
django-extensions==3.2.3
idna==3.10
pillow==11.0.0
razorpay==1.4.2
requests==2.32.3
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.3.0
